# 编译产物
bin/
obj/
*.exe
*.dll
*.pdb
*.user
*.suo
*.cache
*.dll.config

# Visual Studio
.vs/
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

# NuGet
*.nupkg
packages/
**/[Pp]ackages/*

# 操作系统
Thumbs.db
.DS_Store

# 其他
*.tmp
*.log
TestResults/
